# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/exoplanets_raw.csv

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3